<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TumiReport" parallel="none">
 
	
	
	
	<!-- Test -->
	<!--<test name="GlobalLocatororder">
		<classes>
			<class name="orders.guest.GlobalLocatororder" />
		</classes>
	</test> <!-- Test -->
	<!-- <test name="GuestOrderWithMultiShipment">
		<parameter name="Country" value="US"></parameter>
		<classes>
			<class name="orders.guest.GuestOrderWithMultiShipment" />
		</classes>
	</test> Test
	<test name="GuestOrderWithTwoDiffProducts">
		<parameter name="Country" value="US"></parameter>
		<classes>
			<class name="orders.guest.GuestOrderWithTwoDiffProducts" />
		</classes>
	</test>Test
	<test name="OrderWithGiftBox">
		<parameter name="Country" value="US"></parameter>
		<classes>
			<class name="orders.guest.OrderWithGiftBox" />
		</classes>
	</test>Test
	<test name="OrderWithMonogram">
		<parameter name="Country" value="US"></parameter>
		<classes>
			<class name="orders.guest.OrderWithMonogram" />
		</classes>
	</test>Test
	<test name="OrderWithVochercode">
		<parameter name="Country" value="US"></parameter>
		<classes>
			<class name="orders.guest.OrderWithVochercode" />
		</classes>
	</test>
	 Test
	<test name="RegisteredOrderWithPayPal">
		<parameter name="Country" value="US"></parameter>
		<classes>
			<class name="orders.registered.RegisteredOrderWithPayPal" />
		</classes>
	</test> Test
		<test name="RegisterOrderWithVoucher">
		<parameter name="Country" value="US"></parameter>
		<classes>
			<class name="orders.registered.RegisterOrderWithVoucher" />
		</classes>
	</test> Test
		<test name="RegisteredOrder">
		<parameter name="Country" value="US"></parameter>
		<classes>
			<class name="orders.registered.RegisteredOrder" />
		</classes>
	</test> Test
	<test name="RegisteredOrderWithMultishipment">
		<parameter name="Country" value="US"></parameter>
		<classes>
			<class name="orders.registered.RegisteredOrderWithMultishipment" />
		</classes>
	</test>  -->
</suite>