<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Tumi Test Report">
  <test thread-count="5" name="Test">
    <classes>
      <class name="orders.guest.OrderWithVochercode"/>
      <class name="orders.guest.OrderWithGiftAndVocherCode"/>   
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
