<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Tumi Test Report" parallel="none">
    
	<test name="Canada">
		<parameter name="Country" value="CANADA"></parameter>
		<classes>
			<class name="orders.guest.OrderWithVochercode" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
